<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
   <h3>Profile</h3>
    <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "card-img-top",style:"border-radius:50%;width:100px;height:auto;" %>
  <% end %>
    <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <h6 class="card-subtitle text-muted"><%= @user.age %>才</h6>
    <p class="card-text"><%= @user.email %></p>
  </div>
  </div>
</div>