<div class="card col-sm-6 mx-auto mt-5">
  <div class="card-body">
   <h3>Profile</h3>
   <h5 class="card-title"><%= @user.name%></h5>
    <h6 class="card-subtitle text-muted">age: <%= @user.age %></h6>
    <p class="card-text">Email: <%= @user.email %></p>
  </div>
</div>